button{
  height: 50px;
  width: 100px;
  font-weight: 900;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px grey;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

button:hover, button:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  overflow: hidden;
}

/* button:focus{
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  outline: none;
  box-shadow: none;
} */

button:active {
  box-shadow: 0 0 10px grey;
  transform: scale(1.0);
  overflow: hidden;
}

.greenButton{
  background-color:rgb(0, 100, 200);
}

.greenButton:hover{
  background-color: rgb(0, 100, 200);
}

.redButton{
  background-color: red;
}

.redButton:hover{
  /* background-color: rgb(155, 0, 0); */
  background-color: red;
}

.inputDeviceLogFilter{
    width: 50px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

table th, table td {
  padding: 12px 24px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
}

table td{
  font-weight: 900;
}

.column-blue{
  background-color:rgb(0, 100, 200);
  color: white;
}