.pie-chart-summary{
    height: 50% !important; 
    width: 50% !important; 
    display: block; 
    margin: 0 auto; 
  }


  .deviceSummaryContainer {
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
    gap: 20px; 
    margin: 20px; 
  }
  
  .input-container {
    display: flex;
    gap: 10px;
  }
  
  .details-container {
    display: flex;
    gap: 100px; 
    align-items: flex-start; 
  }

.button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #0056b3;
}

.loading {
    font-style: italic;
    color: #555;
}

.error {
    color: red;
}

.device-details {
    margin-top: 0px;
}

.device-details ul {
    list-style: none;
    padding: 0;
}

.device-details li {
    margin-bottom: 8px;
}

.reliability-date {
  margin-bottom: 8px;
}

.container-date {
  display: flex;
  align-items: flex-start; 
  gap: 40px;
  max-width: 800px; 
}

.controls-date {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.chart-date {
  width: 250px;
  height: 250px;
}

.button-reliability {
  padding: 8px 16px; 
  font-size: 14px; 
  background-color: #007BFF; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  width: auto;
  align-self: flex-start; 
}

.button-reliability:hover {
  background-color: #0056b3;
}