header {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Pełna wysokość widoku */
    width: 150px; /* Dostosuj szerokość menu */
    border-right: 1px solid #ccc;
  }
  
  .logo {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .menu-top {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .menu-top li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    text-align: center;
    margin: 2px 0;
  }
  
  .menu-bottom {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: auto; /* To umieszcza ten blok na dole kontenera */
  }
  
  .menu-bottom li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    text-align: center;
    margin: 2px 0;
  }