.deviceTokenListContainer {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

  .deviceToken:nth-child(even) {
    background-color:  rgb(116, 182, 248) ;
  }

  .deviceToken.selected {
    background-color: rgb(0, 100, 200) !important; 
  }
  table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
  }

.deleteButtonContainer{
  display: flex;
  justify-content: right;
  padding: 0 20px 20px 20px;
  
}