.deviceTokenListContainer {
    width: 100%;
    overflow-x: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

  .deviceToken:nth-child(even) {
    background-color:  rgb(235, 235, 235) ;
  }

  .deviceToken.selected {
    background-color: rgb(116, 182, 248) !important; 
  }
  table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
  }

.deleteAddContainer{
  display: flex;
  justify-content: right;
  padding: 0 20px 20px 20px;
  
}

.noHoverDeleteToken{
  height: 74.5px;
  width: 258.5px;
}