.root-layout {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

.container {
  display: flex;
  /* height: 100vh;
    overflow-y: auto; */
}

.menu {
  width: 155px;
  background-color: #f4f4f4;
  height: 100%;
}

.menu-minimized {
  width: 60px;
  background-color: #f4f4f4;
  height: 100%;
}

.content {
  width: 100%;
  background-color: white;
  flex-direction: column;
}

.outlet-content {
  background-color: white;
  flex-direction: column;
}
