
.container {
    display: flex;
    flex: 1;
}

.menu {
    width: 150px;
    background-color: #f4f4f4;

}

.content {
    flex: 1;
    background-color: #b0c4de; 
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

.row {
    display: flex;
    flex-direction: column; 
    flex: 1;
}


