.popup-content.addUser{
    min-height: 800px;
  }

  .addContainer{
    display: flex;
    justify-content: right;
    padding: 20px 20px 20px 20px;
    
  }

  .popup-label.roleLabel{
    position: absolute;
  }