
.deviceLogListContainer {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
}

thead{
  box-shadow: 0 5px 10px gray;
}

  .deviceLog:nth-child(even) {
    background-color: #f9f9f9;
  }

  .deviceLog.selected {
    background-color: #a0a0a0 !important; 
  }
  table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:20px;
    font-weight: 900;
  }
