html, body {
  height: 100%;
  /* overflow: hidden;  */
  /* font-family: Andale Mono, monospace;  */
  /* overflow-y:auto; */
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

td{
  height:75px;
  font-weight: normal;
}

table td{
  font-weight: normal;
}